.summoner-info {
    display: inline-block;
    height: 18vh;
    margin-bottom: 2%;
}

.summoner-face {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

.summoner-profile {
    display: inline-block;
    position: relative;
    height: 100%;
    vertical-align: top;
    line-height: 1.1;
}

.summoner-icon {
    height: 125px;
    display: block;
}

.summoner-name {
    font-size: 20px;
    font-weight: bold;
    vertical-align: top;
}

.summoner-level {
    /*color: #d3a625;*/
    font-weight: bold;
    margin-left: 1%;
}

/* SUMMONER RANKS */

.summoner-ranks, .summoner-rank {
    height: 90%;
}

.summoner-rank {
    display: inline-block;
}

.summoner-rank div {
    height: 100%;
}

.rank-info span {
    display: block;
}

.summoner-rank img {
    height: 80%;
}

.rank-info {
    display: inline-block;
    vertical-align: top;
}

.rank-image.large {
    margin-top: -13%;
    height: 100%;
}

.rank-image.small {
    height: 50px;
}

.rank-stats {
    font-size: x-small;
}
/* END SUMMONER RANKS */