.summoner-icon {
    height: 150px;
    display: block;
}

.summoner-name {
    font-size: 20px;
    font-weight: bold;
    vertical-align: top;
}

.summoner-level {
    /*color: #d3a625;*/
    font-weight: bold;
    margin-left: 1%;
}

.summoner-info {
    display: flex;
    max-height: 150px;
    margin-bottom: 2%;
}

.summoner-face {
    margin-right: 5px;
    position: relative;
    box-shadow: 0 1px #dcdfdf;
}

.summoner-profile {
    position: relative;
    flex: 1;
    vertical-align: top;
    padding: 15px;
    margin-left: 5px;
    line-height: 1.1;
    border: 1px solid #cdd2d2;
    box-shadow: 0 1px #dcdfdf;
    background: #f2f2f2;
    border-radius: 2px;
}

.summoner-information {
    margin-bottom: 10px;
}

.fav-btn {
    -webkit-appearance: searchfield-cancel-button;
}

.fav-btn-img {
    height: 30px;
    position: absolute;
    top: 10px;
}

/* SUMMONER RANKS */

.summoner-ranks, .summoner-rank {
    height: 90%;
}

.summoner-rank {
    display: inline-block;
}

.summoner-rank div {
    height: 100%;
}

.rank-info span {
    display: block;
}

.summoner-rank img {
    height: 80%;
}

.rank-info {
    display: inline-block;
    vertical-align: top;
}

.rank-image.large {
    margin-top: -3%;
    height: 100%;
}

.rank-image.small {
    height: 50px;
}

.rank-stats {
    font-size: x-small;
}
/* END SUMMONER RANKS */